{{> post-info post}}
<div class="card bg-light width: 100%; height: 100%;">
  <div class="mx-4 my-4">
    {{#if loggedIn}}
    <form class="comment-form">
      <div>
        <textarea name="comment-body"></textarea>
      </div>
      <div>
        <button type="submit">add comment</button>
      </div>
    </form>
    {{/if}}
  </div>
</div>

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}